@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Satoshi";
  src: url("./assets/satoshi/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/satoshi/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  list-style: none;
  padding: 12px 1px;
  border: 1px solid var(--orange);
  border-radius: 8px;

  a {
    font-weight: 400;
    padding: 10px 16px;

    border: 1px solid var(--orange);
    border-radius: 8px;
    background: var(--orange);
    font-weight: 400;
    color: white;
  }
}

:root {
  --orange: #fb5300;
  --gray: #323232;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "DM Sans", sans-serif;
  background: white;
}

.heroPage {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  header {
    padding: 8px 2rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(240, 240, 240);

    nav {
      gap: 2em;
      display: flex;
      align-items: center;

      h2 {
        font-size: 20px;
      }
      img {
        height: 1.5rem;
      }

      &:first-child {
        gap: 8px;
      }
    }
  }

  main {
    padding: 0 25rem;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 1.5rem;

    .pill {
      padding: 5px 1rem;
      border-radius: 100px;
      background: var(--gray);
      color: white;
      font-weight: 400;
      font-size: 12px;
    }
    h1 {
      font-size: 2.5rem;
      text-align: center;
      letter-spacing: -1px;
    }

    p {
      width: 80%;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 300;
    }

    li {
      a {
        padding: 10px 2rem;
      }
    }
  }

  footer {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 20rem;
    align-items: center;

    .video {
      width: 100%;
      height: 50vh;
      border-radius: 12px;
      border: 1px solid black;
    }

    p {
      text-align: center;
      font-size: 1.2rem;
      width: 60%;

      span {
        background: var(--orange);
        color: white;
      }
    }

    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      img {
        height: 5rem;
        border-radius: 50%;
        border: 1px solid var(--orange);
      }
      p {
        font-size: 1rem;
        width: 100%;
      }
    }
  }
}

.why {
  position: relative;
  min-height: 100vh;
  padding: 2rem 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;

  header {
    h2 {
      font-size: 2rem;
      span {
        color: var(--orange);
      }
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;

    .container {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 1em;

      span {
        font-size: 2rem;
        color: var(--orange);
      }

      h3 {
        font-weight: 500;
      }

      p {
        font-weight: 300;
      }
    }
  }
}

.master {
  position: relative;
  padding: 2rem 15rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  header {
    h2 {
      text-align: center;
      font-size: 3rem;
    }
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .container {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5em;

      .photo {
        width: 50%;
        height: 30vh;
        border: 1px solid black;
        border-radius: 12px;
      }

      .text {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1em;

        h3 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1.2rem;
          font-weight: 300;
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }
}

.students {
  padding: 2rem 25rem;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: center;
    align-items: center;

    .classmates {
      display: flex;
      align-items: center;
      gap: 1em;
    }
    img {
      aspect-ratio: 1 / 1;
      height: 3rem;
      border-radius: 50%;
      border: 2px solid var(--orange);
      overflow: hidden;
      position: relative;

      &:nth-child(2) {
        height: 5rem;
      }

      &:nth-child(odd) {
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.232);
          top: 0;
          z-index: 99;
        }
      }
    }
    p {
      font-size: 1.3rem;
    }

    .student {
      p {
        font-size: 14px;
      }
    }
  }
}

.pricing {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  min-height: 100vh;
  position: relative;
  align-items: center;

  header {
    text-align: center;
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
      margin-top: 1rem;
    }
  }

  main {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3em;
    align-items: flex-end;

    .card {
      position: relative;
      width: 25%;
      height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1em;
      padding: 20px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      background: #fb540000;
      border-radius: 12px;

      &:last-child {
        height: 65vh;
        background: #fb54000e;
        border: 1px solid var(--orange);

        .price {
          display: flex;
          gap: 1em;

          h3:first-child {
            text-decoration: line-through;
            color: gray;
          }
        }
        .btn {
          border-color: black;
          a {
            border-color: black;
            background: black;
            color: white;
          }
        }
      }

      h3 {
        font-size: 2rem;
      }

      ul {
        margin-left: 1rem;
        list-style: none;

        li {
          font-size: 1rem;
          margin-top: 0.5em;
          display: flex;
          align-items: center;
          gap: 1em;

          span {
            color: var(--orange);
          }
        }
      }

      .btn {
        position: absolute;
        left: 10%;
        bottom: 20px;
        a {
          padding: 10px 8rem;
        }
      }
    }
  }
}

.about {
  position: relative;
  min-height: 50vh;
  padding: 2rem 15rem;
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    background: #fea77b15;
    padding: 3rem 2rem;
    /* height: 30vh; */
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);

    img {
      height: 25vh;
      border-radius: 50%;
    }

    .text {
      width: 60%;

      p {
        margin-top: 20px;
        line-height: 1.7rem;
      }
    }
  }
}

.cta {
  position: relative;
  min-height: 70vh;
  display: grid;
  place-items: center;
  padding: 2rem 3rem;

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.159);
    border-radius: 20px;

    height: 50vh;
    background: #fea77b15;

    h1 {
      font-size: 3rem;
    }

    a {
      font-size: 2rem;
      padding: 1rem 3rem;
      background: var(--orange);
      border-radius: 400px;
      color: white;
      filter: drop-shadow(-10px 15px 0 rgb(255, 225, 170));
      margin-top: 2rem;
      transition: 0.3s ease;

      &:hover {
        filter: drop-shadow(-10px 35px 0 rgb(255, 225, 170));
        transform: translateY(-10px);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section {
    padding: 2rem;
  }
  .heroPage {
    padding: 0;
    header {
      padding: 5px 0;
      flex-direction: column;
      nav:last-child {
        display: none;
      }
    }

    main {
      height: 80vh;
      padding: 1rem;

      h1 {
        font-size: 2rem;
      }
    }

    footer {
      margin-top: 6rem; /* border: 1px solid black; */
      height: auto;
      padding: 2rem;
      .video {
        display: none;
      }
      p {
        width: 100% !important;
      }
    }
  }

  .why {
    padding: 2rem;
    main {
      .container {
        width: 100%;
      }
    }
  }

  .master {
    padding: 2rem;
    header {
      h2 {
        font-size: 2rem;
      }
    }

    main {
      gap: 5rem;
      .container {
        flex-direction: column;
        gap: 1em;

        .photo {
          width: 100%;
        }
        .text {
          width: 100%;
        }

        &:nth-child(even) {
          flex-direction: column;
        }
      }
    }
  }

  .students {
    padding: 2rem;
  }

  .pricing {
    main {
      flex-direction: column;
      align-items: center;

      .card {
        width: 100%;
        height: auto;

        &:last-child {
          height: auto;
        }

        .btn {
          position: static;
          left: 0;
          bottom: 0;
          a {
            padding: 10px 20px;
          }
        }
      }
    }
  }

  .about {
    padding: 2rem;
    main {
      flex-direction: column;

      .text {
        text-align: center;
        width: 100%;
      }
    }
  }

  .cta {
    padding: 2rem;
    text-align: center;
    main {
      height: auto;
      padding: 20px;
      padding-bottom: 3rem;

      h1 {
        font-size: 2rem;
      }

      a {
        margin-top: 1rem;
        font-size: 1rem;
      }
    }
  }
}
